<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TCC_MVVM.Application" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="TCC_MVVM.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="PanelConfigFile" value="C:\Users\Tyler\Documents\Visual Studio 2013\Projects\TCC_MVVM\Configuration\Panel.xml" />
    <add key="ShelfConfigFile" value="C:\Users\Tyler\Documents\Visual Studio 2013\Projects\TCC_MVVM\Configuration\Shelf.xml" />
    <add key="StripConfigFile" value="C:\Users\Tyler\Documents\Visual Studio 2013\Projects\TCC_MVVM\Configuration\Strip.xml" />
    <add key="WireConfigFile" value="\\ComputerName\ShareName" />
    <add key="AccessoryConfigFile" value="C:\Users\Tyler\Documents\Visual Studio 2013\Projects\TCC_MVVM\Configuration\Accessory.xml" />
    <add key="AccessoryItemConfigFile" value="C:\Users\Tyler\Documents\Visual Studio 2013\Projects\TCC_MVVM\Configuration\AccessoryItem.xml" />
    <add key="PriceConfigFile" value="C:\Users\Tyler\Documents\Visual Studio 2013\Projects\TCC_MVVM\Configuration\Price.xml" />
    <!-- Panel Color  -->
    <add key="PanelColor" value="C:\Users\Tyler\Documents\Visual Studio 2013\Projects\TCC_MVVM\Configuration\Panel\Color.txt" />
    <!-- Panel Depth  -->
    <add key="PanelDepth" value="C:\Users\Tyler\Documents\Visual Studio 2013\Projects\TCC_MVVM\Configuration\Panel\Size_Depth.txt" />
    <!-- Panel Height -->
    <add key="PanelHeight" value="C:\Users\Tyler\Documents\Visual Studio 2013\Projects\TCC_MVVM\Configuration\Panel\Size_Height.txt" />
    <!-- Panel Items -->
    <add key="PanelItems" value="C:\Users\Tyler\Documents\Visual Studio 2013\Projects\TCC_MVVM\Configuration\Panel\Panel_Items.txt" />
    <!-- Shelf Color  -->
    <add key="ShelfColor" value="C:\Users\Tyler\Documents\Visual Studio 2013\Projects\TCC_MVVM\Configuration\Shelf\Color.txt" />
    <!-- Shelf Depth  -->
    <add key="ShelfDepth" value="C:\Users\Tyler\Documents\Visual Studio 2013\Projects\TCC_MVVM\Configuration\Shelf\Size_Depth.txt" />
    <!-- Shelf Width  -->
    <add key="ShelfWidth" value="C:\Users\Tyler\Documents\Visual Studio 2013\Projects\TCC_MVVM\Configuration\Shelf\Size_Width.txt" />
    <!-- Strip Color  -->
    <add key="StripColor" value="C:\Users\Tyler\Documents\Visual Studio 2013\Projects\TCC_MVVM\Configuration\Strip\Color.txt" />
    <!-- Wood Price  -->
    <add key="WoodPrice" value="C:\Users\Tyler\Documents\Visual Studio 2013\Projects\TCC_MVVM\Configuration\Prices\Wood.txt" />
    <!-- Banding Price -->
    <add key="BandingPrice" value="C:\Users\Tyler\Documents\Visual Studio 2013\Projects\TCC_MVVM\Configuration\Prices\Banding.txt" />
    <!-- Strip Price  -->
    <add key="StripPrice" value="C:\Users\Tyler\Documents\Visual Studio 2013\Projects\TCC_MVVM\Configuration\Prices\Strip.txt" />
    <!-- Room Wood Color  -->
    <add key="RoomWoodColor" value="C:\Users\Tyler\Documents\Visual Studio 2013\Projects\TCC_MVVM\Configuration\Room\Room_Color.txt" />
    <!-- Room Strip Color -->
    <add key="RoomStripColor" value="C:\Users\Tyler\Documents\Visual Studio 2013\Projects\TCC_MVVM\Configuration\Room\Strip_Color.txt" />
    <!-- Room Wood Depth  -->
    <add key="RoomWoodDepth" value="C:\Users\Tyler\Documents\Visual Studio 2013\Projects\TCC_MVVM\Configuration\Room\Room_Depth.txt" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <TCC_MVVM.Application>
      <setting name="ExcelAppPath" serializeAs="String">
        <value>"C:\\Users\\tyhol\\Downloads\\OneDrive-2016-05-14\\Item Inventory - The Closet Company.xlsx"</value>
      </setting>
    </TCC_MVVM.Application>
    <TCC_MVVM.App>
      <setting name="Panel_Install_Fee" serializeAs="String">
        <value>5.00</value>
      </setting>
      <setting name="Shelf_Install_Fee" serializeAs="String">
        <value>5.00</value>
      </setting>
      <setting name="Markup" serializeAs="String">
        <value>1.4</value>
      </setting>
      <setting name="Drillbit_Fee" serializeAs="String">
        <value>2.00</value>
      </setting>
      <setting name="Router_Fee" serializeAs="String">
        <value>0.50</value>
      </setting>
    </TCC_MVVM.App>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>